services:
  db:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres 
      POSTGRES_PASSWORD: postgres 
      POSTGRES_DB: user_event_analysis_db
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/initdb:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  migrate-generator:
    image: migrate/migrate
    container_name: migrate-generator
    volumes:
      - ./migrations/generator:/migrations
    command: -source=file://migrations -database postgres://postgres:postgres@db:5432/user_event_generator_db?sslmode=disable up
    depends_on:
      db:
        condition: service_healthy

  migrate-system:
    image: migrate/migrate
    container_name: migrate-system
    volumes:
      - ./migrations/system:/migrations
    command: -source=file://migrations -database postgres://postgres:postgres@db:5432/user_event_analysis_db?sslmode=disable up
    depends_on:
      db:
        condition: service_healthy

  synthetic-data-generator:
    build: ./synthetic-data-generator
    container_name: synthetic-data-generator
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: user
      DB_PASSWORD: password
      DB_NAME: user_event_generator_db
    ports:
      - "8080:8080"
    command: ["./synthetic-data-generator"]

volumes:
  pgdata:
