apiVersion: 1

datasources:
  - name: postgres
    type: postgres
    access: proxy
    isDefault: true

    url: db:5432
    user: postgres
    secureJsonData:
      password: postgres
    
    database: user_event_analysis_db
    jsonData:
      sslmode: disable
      postgresVersion: 1500
      timescaledb: false